In [1]:
# libraries importing
import pandas as pd
import numpy as np
import os

## Data loading

In [2]:
path_to_data = 'SKAB/'

In [3]:
# benchmark files checking
all_files=[]
for root, dirs, files in os.walk(path_to_data):
    for file in files:
        if file.endswith(".csv"):
             all_files.append(os.path.join(root, file))

In [4]:
# datasets with anomalies loading
list_of_df = [pd.read_csv(file, 
                          sep=';', 
                          index_col='datetime', 
                          parse_dates=True) for file in all_files if 'anomaly-free' not in file]
# anomaly-free df loading
anomaly_free_df = pd.read_csv([file for file in all_files if 'anomaly-free' in file][0], 
                            sep=';', 
                            index_col='datetime', 
                            parse_dates=True)

In [5]:
anomaly_free_df

,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS
datetime,,,,,,,,
2020-02-08 13:30:47,0.206030,0.277924,1.810190,0.382638,90.1740,26.7760,228.208,121.664
2020-02-08 13:30:48,0.204366,0.275727,2.663170,-0.273216,90.2836,26.7760,227.245,122.000
2020-02-08 13:30:49,0.206103,0.278526,2.637580,0.382638,89.8666,26.7821,237.872,122.000
2020-02-08 13:30:51,0.204775,0.276948,2.328510,0.382638,90.2192,26.7773,230.422,121.338
2020-02-08 13:30:52,0.206052,0.278141,2.534220,0.382638,90.1449,26.7773,219.454,121.664
...,...,...,...,...,...,...,...,...
2020-02-08 16:16:43,0.195840,0.259540,2.296760,0.382638,89.1430,29.3461,216.086,127.000
2020-02-08 16:16:44,0.194596,0.259175,2.264030,0.054711,88.9861,29.3637,228.285,127.000
2020-02-08 16:16:45,0.197453,0.259046,0.928891,0.054711,89.2818,29.3531,211.498,126.323
2020-02-08 16:16:46,0.193992,0.259874,2.463890,0.382638,88.9028,29.3487,233.442,126.679
2020-02-08 16:16:47,0.197630,0.258334,0.893839,0.382638,89.0880,29.3556,229.242,126.323

In [6]:
(anomaly_free_df == anomaly_free_df.sort_index()).all()

Accelerometer1RMS      True
Accelerometer2RMS      True
Current                True
Pressure               True
Temperature            True
Thermocouple           True
Voltage                True
Volume Flow RateRMS    True
dtype: bool

In [7]:
valve1_data = {file.split('/')[-1]:pd.read_csv(file, sep=';',index_col='datetime',parse_dates=True)
              for file in all_files if 'valve1' in file}

#concatenate data(order in time series by sort_index)
valve1_df = pd.concat(list(valve1_data.values()),axis=0).sort_index()

In [8]:
valve2_data = {file.split('/')[-1]:pd.read_csv(file, sep=';',index_col='datetime',parse_dates=True)
              for file in all_files if 'valve2' in file}

#concatenate data(order in time series by sort_index)
valve2_df = pd.concat(list(valve2_data.values()),axis=0).sort_index()

In [9]:
other_anomaly_data = {file.split('/')[-1]:pd.read_csv(file, sep=';',index_col='datetime',parse_dates=True)
              for file in all_files if 'other' in file}

#concatenate data(order in time series by sort_index)
other_anomaly_df = pd.concat(list(other_anomaly_data.values()),axis=0).sort_index()

In [10]:
valve1_df.isna().any()

Accelerometer1RMS      False
Accelerometer2RMS      False
Current                False
Pressure               False
Temperature            False
Thermocouple           False
Voltage                False
Volume Flow RateRMS    False
anomaly                False
changepoint            False
dtype: bool

In [11]:
valve1_df.describe()

,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS,anomaly,changepoint
count,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000,18162.000000
mean,0.027338,0.040546,1.161527,0.063757,70.208237,25.029187,230.522074,31.284873,0.347374,0.003469
std,0.000527,0.001168,6.529687,0.258569,2.609608,0.447764,12.666497,1.991863,0.476149,0.058796
min,0.025553,0.037339,0.355411,-1.257000,65.188700,24.418700,0.625897,22.000000,0.000000,0.000000
25%,0.026971,0.039761,0.739681,0.054711,68.630600,24.674200,224.758500,31.001000,0.000000,0.000000
50%,0.027346,0.040461,0.986919,0.054711,69.765450,24.866800,230.952000,32.000000,0.000000,0.000000
75%,0.027722,0.041192,1.202882,0.054711,71.076075,25.423700,236.876500,32.012600,1.000000,0.000000
max,0.029031,0.053439,242.018000,1.694350,79.889100,26.104400,255.324000,33.969400,1.000000,1.000000

In [12]:
valve2_df.isna().any()

Accelerometer1RMS      False
Accelerometer2RMS      False
Current                False
Pressure               False
Temperature            False
Thermocouple           False
Voltage                False
Volume Flow RateRMS    False
anomaly                False
changepoint            False
dtype: bool

In [13]:
valve2_df.describe()

,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS,anomaly,changepoint
count,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000
mean,0.027590,0.039766,1.182498,0.055091,68.279706,24.236979,230.494986,31.553337,0.351809,0.003711
std,0.000356,0.001214,6.971728,0.264234,1.072908,0.073683,12.854764,1.175634,0.477590,0.060808
min,0.026455,0.036098,0.383591,-0.929070,65.089000,24.096200,0.580776,28.000000,0.000000,0.000000
25%,0.027342,0.038914,0.743011,0.054711,67.501650,24.173300,224.744000,31.040900,0.000000,0.000000
50%,0.027594,0.039785,0.984123,0.054711,68.411200,24.235250,230.941500,32.000000,0.000000,0.000000
75%,0.027826,0.040611,1.200335,0.054711,69.088300,24.290025,237.008000,32.000000,1.000000,0.000000
max,0.031339,0.043516,243.829000,1.038490,70.474800,24.402800,255.169000,33.000000,1.000000,1.000000

In [14]:
other_anomaly_df.isna().any()

Accelerometer1RMS      False
Accelerometer2RMS      False
Current                False
Pressure               False
Temperature            False
Thermocouple           False
Voltage                False
Volume Flow RateRMS    False
anomaly                False
changepoint            False
dtype: bool

In [15]:
other_anomaly_df.describe()

,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS,anomaly,changepoint
count,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000,14985.000000
mean,0.232301,0.282515,2.376018,0.087843,87.280220,27.969336,228.291866,109.864931,0.361361,0.003403
std,0.138586,0.145527,5.939308,0.261372,1.873378,3.319900,12.557712,30.198560,0.480411,0.058241
min,0.000000,0.000000,0.589101,-1.257000,84.200400,22.020900,1.979620,0.000000,0.000000,0.000000
25%,0.209521,0.257621,1.829060,0.054711,85.823000,28.736800,222.329000,77.000000,0.000000,0.000000
50%,0.228478,0.273493,2.336300,0.054711,87.108200,29.384200,228.573000,126.315000,0.000000,0.000000
75%,0.245047,0.291260,2.693860,0.382638,88.474200,29.796700,234.716000,127.361000,1.000000,0.000000
max,0.722747,0.800498,239.003000,1.366420,95.011400,33.415100,254.611000,133.688000,1.000000,1.000000

In [20]:
all_data = {file.split('/')[-1]:pd.read_csv(file, sep=';',index_col='datetime',parse_dates=True)
              for file in all_files}

#concatenate data(order in time series by sort_index)
all_data = pd.concat(list(all_data.values()),axis=0).sort_index()

In [21]:
all_data

,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS,anomaly,changepoint
datetime,,,,,,,,,,
2020-02-08 13:30:47,0.206030,0.277924,1.810190,0.382638,90.1740,26.7760,228.208,121.6640,NaN,NaN
2020-02-08 13:30:48,0.204366,0.275727,2.663170,-0.273216,90.2836,26.7760,227.245,122.0000,NaN,NaN
2020-02-08 13:30:49,0.206103,0.278526,2.637580,0.382638,89.8666,26.7821,237.872,122.0000,NaN,NaN
2020-02-08 13:30:51,0.204775,0.276948,2.328510,0.382638,90.2192,26.7773,230.422,121.3380,NaN,NaN
2020-02-08 13:30:52,0.206052,0.278141,2.534220,0.382638,90.1449,26.7773,219.454,121.6640,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-03-09 17:14:04,0.026853,0.038926,0.740614,0.054711,69.6371,24.1045,237.276,32.0451,0.0,0.0
2020-03-09 17:14:05,0.027067,0.038430,0.988875,0.054711,69.6731,24.1046,230.729,32.9562,0.0,0.0
2020-03-09 17:14:07,0.027582,0.038836,0.588439,0.054711,69.6959,24.1020,233.443,32.0000,0.0,0.0
2020-03-09 17:14:08,0.027406,0.038133,0.989732,-0.273216,69.6293,24.1020,238.930,32.0000,0.0,0.0
2020-03-09 17:14:09,0.027102,0.039890,0.558126,-0.273216,69.7253,24.0972,219.653,32.0000,0.0,0.0